# ---- Python ----
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv
env/
venv/
myenv/
ENV/
build/
dist/

# ---- VSCode / IDE ----
.vscode/
.idea/
*.swp

# ---- OS Files ----
.DS_Store
Thumbs.db

# ---- Logs ----
*.log
logs/

# ---- Byte-compiled / cache ----
__pycache__/
*.pyc
*.pyo

# ---- Jupyter ----
.ipynb_checkpoints/